span
{
    margin: 1%;
}
button
{
    margin: 2%;
    padding: 1%;
    border-radius: 35%;
}
#wrapper
{
    background-color: rgb(50, 90, 125)9, 54);
}
#timer
{
    width: 60%;
    background-color: transparent;
    border: white;
    border-radius: 10%;
    border-width: thick;
}
.whiteBorder
{
    border: white solid 3px;
}
body
{
    background-color: rgb(133, 199, 199);
}
/*Why 1.empty div cannot archieve color 
      2. how to archieve centre alignment on all div / html?*/