.saillist{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f1f6f7;
    padding: 1%;
    margin: 3%;
    font-size: 120%;
    height: 10%;
    flex-wrap:wrap;
}

.secondlist{
background-color: #f1f6f7;
position:absolute;
width: 20%;
height: 100%;
display: flex;
flex-direction: column;
justify-content: space-around;
font-size: 120%;
flex-wrap: wrap;
}

.content{
position: absolute;
right: 0px;
width: 80%;
font-size: 130%;
}

body{
text-align: center;
background:linear-gradient(300deg,#78C2C4 , rgb(178, 203, 212));
font-family: 'Courier New', Courier, monospace;
}
.indexcat{
width: 30%; 
margin: 5%;
}
.giphy-embed{
margin: 1%;
}

.tryMe{
margin: 1%;
height: 50px;
width: 50%;
font-family: 'Courier New', Courier, monospace;
font-weight: bold;
font-size: 20px;
background-color:rgb(178, 203, 212);
border-radius: 30% ;
}